<a href="https://colab.research.google.com/github/gemini106/LGMVIP-DataScience/blob/main/LGMVIPTask2_SANA_SUBHEDAR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Music Recommendation***

> Music recommender systems can suggest songs to users based on their listening patterns.

### **LGMVIP ( SEPTEMBER 2021 )**
(Data Analytics)

**Author : SANA SUBHEDAR**

# 1)Importing Esssential Libraries

In [ ]:
import pandas as pd
import numpy as np
import Recommenders as Recommenders

# 2)Reading data from given Data Sets

In [ ]:
df = pd.read_csv('triplets_file.csv')
df.head()

                                    user_id             song_id  listen_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1.0
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2.0
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXHDL12A81C204C0           1.0
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBYHAJ12A6701BF1D           1.0
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SODACBL12A8C13C273           1.0

In [ ]:
df2 = pd.read_csv('song_data.csv')
df2.head()

              song_id              title  ...       artist_name    year
0  SOQMMHC12AB0180CB8       Silent Night  ...  Faster Pussy cat  2003.0
1  SOVFVAK12A8C1350D9        Tanssi vaan  ...  Karkkiautomaatti  1995.0
2  SOGTUKN12AB017F4F1  No One Could Ever  ...    Hudson Mohawke  2006.0
3  SOBNYVR12A8C13558C      Si Vos Querés  ...       Yerba Brava  2003.0
4  SOHSBXH12A8C13B0DF   Tangle Of Aspens  ...        Der Mystic     0.0

[5 rows x 5 columns]

# 3)Combining Both Datasets

In [ ]:
song_df = pd.merge(df, df2.drop_duplicates(['song_id']), on='song_id', how='left')
song_df.head()

                                    user_id  ...    year
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...     0.0
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  1976.0
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  2007.0
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...     NaN
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...     NaN

[5 rows x 7 columns]

In [ ]:
len(song_df)

1047619

# 4)Creating new feature combining title and artist name

In [ ]:
song_df['song'] = song_df['title']+' - '+song_df['artist_name']
song_df.head()

                                    user_id  ...                             song
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...          The Cove - Jack Johnson
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  Entre Dos Aguas - Paco De Lucia
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...            Stronger - Kanye West
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...                              NaN
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...                              NaN

[5 rows x 8 columns]

In [ ]:
song_grouped = song_df.groupby(['song']).agg({'listen_count':'count'}).reset_index()
song_grouped.head()

                                          song  listen_count
0                     #40 - DAVE MATTHEWS BAND           172
1                    ' Cello Song - Nick Drake            55
2                  '97 Bonnie & Clyde - Eminem            44
3      (Anaesthesia) Pulling Teath - Metallica            45
4  (Antichrist Television Blues) - Arcade Fire           103

In [ ]:

grouped_sum = song_grouped['listen_count'].sum()
song_grouped['percentage'] = (song_grouped['listen_count'] / grouped_sum ) * 100
song_grouped.sort_values(['listen_count', 'song'], ascending=[0,1])

                                                   song  ...  percentage
5415                                       Undo - Björk  ...    0.588598
1238  Dog Days Are Over (Radio Edit) - Florence + Th...  ...    0.586841
5900                     You're The One - Dwight Yoakam  ...    0.531895
5284                                 Tive Sim - Cartola  ...    0.383028
5448                       Use Somebody - Kings Of Leon  ...    0.329679
...                                                 ...  ...         ...
5703            While You Were Sleeping - Elvis Perkins  ...    0.003993
1360                     Dónde jugarán los niños - Maná  ...    0.003833
2471                              In God's Country - U2  ...    0.003833
3960                   Radioactive Toy - Porcupine Tree  ...    0.003833
1049      Crying Like A Church On Monday - New Radicals  ...    0.003514

[5941 rows x 3 columns]

# 5)Applying Popularity Recommendation Engine

In [ ]:
pr = Recommenders.popularity_recommender_py()

In [ ]:
pr.create(song_df, 'user_id', 'song')

In [ ]:
pr.recommend(song_df['user_id'][5])

                                       user_id  ...  Rank
5415  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...   1.0
1238  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...   2.0
5900  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...   3.0
5284  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...   4.0
5448  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...   5.0
834   b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...   6.0
810   b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...   7.0
5103  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...   8.0
4411  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...   9.0
158   b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  10.0

[10 rows x 4 columns]

In [ ]:
pr.recommend(song_df['user_id'][100])

                                       user_id  ...  Rank
5415  e006b1a48f466bf59feefed32bec6494495a4436  ...   1.0
1238  e006b1a48f466bf59feefed32bec6494495a4436  ...   2.0
5900  e006b1a48f466bf59feefed32bec6494495a4436  ...   3.0
5284  e006b1a48f466bf59feefed32bec6494495a4436  ...   4.0
5448  e006b1a48f466bf59feefed32bec6494495a4436  ...   5.0
834   e006b1a48f466bf59feefed32bec6494495a4436  ...   6.0
810   e006b1a48f466bf59feefed32bec6494495a4436  ...   7.0
5103  e006b1a48f466bf59feefed32bec6494495a4436  ...   8.0
4411  e006b1a48f466bf59feefed32bec6494495a4436  ...   9.0
158   e006b1a48f466bf59feefed32bec6494495a4436  ...  10.0

[10 rows x 4 columns]

In [ ]:
ir = Recommenders.item_similarity_recommender_py()
ir.create(song_df, 'user_id', 'song')

In [ ]:
user_items = ir.get_user_items(song_df['user_id'][5])

# 6)Retriving User songs history

In [ ]:
for user_item in user_items:
    print(user_item)

The Cove - Jack Johnson
Entre Dos Aguas - Paco De Lucia
Stronger - Kanye West
nan
Apuesta Por El Rock 'N' Roll - Héroes del Silencio
Paper Gangsta - Lady GaGa
Stacked Actors - Foo Fighters
Heaven's gonna burn your eyes - Thievery Corporation feat. Emiliana Torrini
Let It Be Sung - Jack Johnson / Matt Costa / Zach Gill / Dan Lebowitz / Steve Adams
I'll Be Missing You (Featuring Faith Evans & 112)(Album Version) - Puff Daddy
Love Shack - The B-52's
The Old Saloon - The Lonely Island
Behind The Sea [Live In Chicago] - Panic At The Disco
Champion - Kanye West
Country Road - Jack Johnson / Paula Fuga
Oh No - Andrew Bird
Love Song For No One - John Mayer
Jewels And Gold - Angus & Julia Stone
Neon - John Mayer
The Middle - Jimmy Eat World
High and dry - Jorge Drexler
The Christmas Song  (LP Version) - King Curtis
Are You In? - Incubus
Drive - Incubus
He Doesn't Know Why - Fleet Foxes
Sun Giant - Fleet Foxes
Right Back - Sublime
Holes To Heaven - Jack Johnson

# 7)Song Recommendation based on User History

In [ ]:
ir.recommend(song_df['user_id'][5])

No. of unique songs for the user: 28
no. of unique songs in the training set: 5942
Non zero values in cooccurence_matrix :71433

                                    user_id  ... rank
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    2
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    3
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    4
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    5
5  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    6
6  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    7
7  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    8
8  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...    9
9  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...   10

[10 rows x 4 columns]

# 8)Song Recommendation Based on Words Entered

In [ ]:
ir.get_similar_items(['Oliver James - Fleet Foxes', 'The End - Pearl Jam'])

no. of unique songs in the training set: 5942
Non zero values in cooccurence_matrix :0

  user_id                                               song  score rank
0          Baby [You've Got What It Takes] [with Sharon J...    0.0    1
1                               Compañera - Silvio Rodríguez    0.0    2
2                                 Super Honeymoon - Owl City    0.0    3
3                             Sister Seagull - Be Bop Deluxe    0.0    4
4                                           B.O.B. - OutKast    0.0    5
5                              No More Tears - Ozzy Osbourne    0.0    6
6                         Friction (LP Version) - Television    0.0    7
7                                       Me Da Igual - Camila    0.0    8
8              Crying Like A Church On Monday - New Radicals    0.0    9
9                      Ballad Of Big Nothing - Elliott Smith    0.0   10